.b748-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.b748-square.PFD,
.b748-square.MFD {
  width: var(--boeing-pane-size);
  height: var(--boeing-pane-size);
}

.b748-square.PFD-1 {
  margin-top: 46px;
  margin-left: 32px;
}

.b748-square.PFD-2 {
  margin-top: 40px;
  margin-left: 34px;
}

.b748-square.MFD-1 {
  margin-top: 46px;
  margin-left: 30px;
}

.b748-square.MFD-2 {
  margin-top: 51px;
  margin-left: 35px;
}

.b748-square.MFD-3 {
  margin-top: 54px;
  margin-left: 17px;
}

.b748-square.MFD-4 {
  margin-top: 102px;
  margin-left: 36px;
}

.b748-square.CDU {
  width: 940px;
  height: 800px;
  font-size: 80px;
}

.b748-square.CDU-1 {
  margin-top: 50px;
  margin-left: 30px;
}

.b748-square.CDU-2 {
  margin-top: 40px;
  margin-left: 16px;
}
html {
  /*
  This is a repository for common style parameters. Use these whenever you can, so that we can make global adjustments at just this point.
  Use as var(--b748-x-y-z) to replace any value in conventional notation.
  */
  /* Color Styling */
  /* Keep boeing colors in sync with BoeingColors.ts */
  --boeing-colors-black: black;
  --boeing-colors-black-translucent: rgba(0, 0, 0, 0.2);
  --boeing-colors-black-translucent-border: rgba(0, 0, 0, 0.5);
  --boeing-colors-white: white;
  --boeing-colors-gray: hsl(0, 0%, 70%);
  --boeing-colors-dark-gray: hsl(0, 0%, 60%);
  --boeing-colors-darker-gray: hsl(0, 0%, 40%);
  --boeing-colors-blue: hsl(230, 100%, 51%);
  --boeing-colors-cyan: hsl(192, 100%, 50%);
  --boeing-colors-red: red;
  --boeing-colors-amber: hsl(45, 100%, 50%);
  --boeing-colors-green: #49e700;
  --boeing-colors-dark-green: #007500;
  --boeing-colors-magenta: #ff00ff;

  --boeing-pane-size: 784px;
}

@font-face {
  font-family: "B787";
  src: url("/Pages/VCockpit/Instruments/Airliners/WTB747_8i/Assets/fonts/b78x.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

wtb748-pfd,
wtb748-mfd {
  /* font-size: 60px; */
  font-size: 80px;
  font-family: "B787";
  paint-order: stroke;
  -webkit-text-stroke: .04em black;
}

#Mainframe,
#Electricity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#Electricity[state="off"] {
  display: none;
}

/** HINT: Don't show the white highlight since the instruments is in general not interactive */
#vignettage {
  display: none;
  visibility: hidden;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 99999999;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.fullsize {
  width: 100%;
  height: 100%;
}
.map-compass-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-compass-overlay svg {
  stroke: var(--boeing-colors-white);
  stroke-width: var(--nav-display-path-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.map-compass-overlay .nd-path-shadow {
  stroke: var(--boeing-colors-black) !important;
  stroke-width: var(--nav-display-path-stroke-width-outline);
}

.inertial-heading-data-invalid .map-cross-track-error-container,
.inertial-heading-data-invalid.map-requires-alignment .flight-plan-text-layer,
.inertial-heading-data-invalid.map-requires-alignment .bing-map,
.inertial-heading-data-invalid.map-requires-alignment .plan-airports-runways-canvas-layer,
.inertial-heading-data-invalid.map-requires-alignment .nearest-waypoints,
.inertial-heading-data-invalid.map-requires-alignment .flight-plan-layer,
.inertial-heading-data-invalid.map-requires-alignment .tod-layer,
.inertial-heading-data-invalid .position-trend-vector,
.inertial-heading-data-invalid .altitude-arc,
.inertial-heading-data-invalid .traffic,
.inertial-heading-data-invalid .airplane-symbol-outline,
.inertial-heading-data-invalid .compass-numbers,
.inertial-heading-data-invalid .track-line-svg,
.inertial-heading-data-invalid .track-line-ticks-svg,
.inertial-heading-data-invalid .range-circles-svg,
.inertial-heading-data-invalid .tcas-ring,
.inertial-heading-data-invalid .bearing-pointer,
.inertial-heading-data-invalid .selected-heading-line,
.inertial-heading-data-invalid .selected-heading-line,
.inertial-heading-data-invalid .selected-heading-bug,
.inertial-heading-data-invalid .selected-track-bug,
.inertial-heading-data-invalid .current-heading-triangle,
.inertial-heading-data-invalid .map-rotating-overlay .range-number,
.inertial-heading-data-invalid .map-rotating-overlay .half-range-number,
.inertial-heading-data-invalid .map-rotating-overlay .half-range-number-2 {
  display: none !important;
}
.pfd-compass {
  position: absolute;
  top: unset;
  bottom: -327px;
  left: -49px;
  width: 100%;
  height: 50%;
  -webkit-text-stroke: .015em black;

  --nav-display-path-stroke-width: 3px;
  --nav-display-path-stroke-width-outline: 4px;
}

.pfd-compass .pfd-compass-hdg-fail {
  position: absolute;
  top: 0px;
  padding: 0 2px 0 1px;
  text-align: center;
  font-size: 30px;
  height: 1em;
  background: var(--boeing-colors-black);
  border: 3px solid var(--boeing-colors-amber);
  color: var(--boeing-colors-amber);
}

.pfd-compass .pfd-compass-hdg-valid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfd-compass .pfd-compass-mask {
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.pfd-compass .pfd-sel-hdg-trk {
  position: absolute;
  top: 20px;
  font-size: 30px;
  left: 300px;
  width: 100px;
  height: 50px;
  color: var(--boeing-colors-magenta);
}

.pfd-compass .pfd-compass-mag-tru {
  position: absolute;
  top: 20px;
  font-size: 30px;
  right: 236px;
  width: 100px;
  height: 50px;
  color: var(--boeing-colors-green);
}
.pfd-airspeed-container {
  position: relative;
  width: 98px;
  height: 543px;
  overflow: visible !important;
}

.airspeed-box {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 98px;
  height: 543px;
}

.airspeed-box .shadow {
  stroke: var(--boeing-colors-black);
}

.airspeed {
  width: 100%;
}

.airspeed-mask {
  left: 0px;
  width: 171px;
}

.airspeed-tape {
  width: 100%;
}

.airspeed-tape-tick-container {
  left: 0px;
  width: 98px;
}

.airspeed-tape-tick {
  box-sizing: content-box;
  right: -2px;
  width: 22px;
  height: 3px;
  background: var(--boeing-colors-white);
  border: solid 1px var(--boeing-colors-black);
  border-radius: 4px;
}

.airspeed-tape-tick.airspeed-tape-tick-major {
  height: 4px;
}

.airspeed-tape-label-container {
  left: 0px;
  width: 62px;
  font-size: 27px;
  color: var(--boeing-colors-white);
  -webkit-text-stroke: 2px var(--boeing-colors-black);
}

.airspeed-tape-label {
  height: 22px;
}

.airspeed-range-container {
  left: 95px;
  width: 8px;
}

.airspeed-range {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.airspeed-range-container-max .airspeed-range {
  background: linear-gradient(to top, var(--boeing-colors-red), var(--boeing-colors-red) 50%, var(--boeing-colors-black) 50%, var(--boeing-colors-black));
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 22px;
}

.airspeed-range-container-max .airspeed-range.shadow {
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 1px);
  background: linear-gradient(to top, var(--boeing-colors-black), var(--boeing-colors-black) 50%, transparent 50%, transparent);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 22px;
  border-bottom: solid 1px var(--boeing-colors-black);
}

.airspeed-range-container-min-maneuver .airspeed-range {
  border: solid 3px var(--boeing-colors-amber);
  border-left: none;
  border-bottom: none;
}

.airspeed-range-container-min-maneuver .airspeed-range.shadow {
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  border-width: 5px;
  border-color: var(--boeing-colors-black);
}

.airspeed-range-container-min .airspeed-range {
  background: linear-gradient(to bottom, var(--boeing-colors-red), var(--boeing-colors-red) 50%, var(--boeing-colors-black) 50%, var(--boeing-colors-black));
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 22px;
}

.airspeed-range-container-min .airspeed-range.shadow {
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 1px);
  background: linear-gradient(to bottom, var(--boeing-colors-black), var(--boeing-colors-black) 50%, transparent 50%, transparent);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 22px;
  border-top: solid 1px var(--boeing-colors-black);
}

.airspeed-trend-vector {
  left: 68px;
  width: 18px;
}

.airspeed-trend-vector-svg {
  fill: none;
  stroke: var(--boeing-colors-green);
  stroke-width: 3px;
  stroke-linejoin: round;
}

.airspeed-trend-vector-svg.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5px;
}

.airspeed-trend-vector-stroke {
  vector-effect: non-scaling-stroke;
}

.airspeed-trend-vector-stem {
  left: 0px;
  width: 100%;
  height: calc(100% - 12px);
}

.airspeed-trend-vector-pointer {
  left: 3px;
  width: 12px;
  height: 12px;
}

.airspeed-bug-selected {
  left: 78px;
}

.airspeed-bug-selected-symbol {
  position: absolute;
  left: 0px;
  top: -13px;
  width: 52px;
  height: 26px;
}

.airspeed-bug-selected-stroke {
  stroke-width: 3px;
  stroke: var(--boeing-colors-magenta);
  stroke-linejoin: round;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.airspeed-bug-selected-stroke.shadow {
  stroke-width: 5px;
}

.airspeed-vnav-speed-band {
  left: 95px;
  width: 8px;
}

.airspeed-vnav-speed-band-stroke {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: solid 3px var(--boeing-colors-magenta);
  border-left: none;
}

.airspeed-vnav-speed-band-stroke.shadow {
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-width: 5px;
  border-color: var(--boeing-colors-black);
}

.airspeed-bug-ticklabel {
  left: 87px;
  width: 44px;
  font-size: 22px;
  color: var(--boeing-colors-green);
  -webkit-text-stroke: 2px var(--boeing-colors-black);
}

.airspeed-bug-ticklabel-tick {
  box-sizing: content-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 3px;
  background: var(--boeing-colors-green);
  border: solid 1px var(--boeing-colors-black);
  border-radius: 4px;
  transform: translateY(-50%);
}

.airspeed-bug-ticklabel-label {
  position: absolute;
  left: 18px;
  top: 0px;
  height: 18px;
  transform: translateY(-50%) scaleX(0.9);
  transform-origin: 0% 50%;
  white-space: pre;
}

.airspeed-bug-vspeed-large .airspeed-bug-ticklabel-tick {
  left: -11px;
  width: 27px;
}

.airspeed-vspeed-readout {
  position: absolute;
  left: 105px;
  font-size: 22px;
  color: var(--boeing-colors-green);
  -webkit-text-stroke: 2px var(--boeing-colors-black);
  transform: scaleX(0.9);
  transform-origin: 0% 50%;
}

.airspeed-v1-readout {
  top: 34px;
}

.airspeed-vref-readout {
  top: 510px;
}

.airspeed-readout {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 82px;
  height: 76px;
  transform: translateY(-50%);
  color: var(--boeing-colors-white);
  font-size: 40px;

  --digit-scroller-line-height: 50px;
  --digit-scroller-line-offset-y: 6px;
}

.airspeed-readout-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  paint-order: normal;
}

.airspeed-readout-box-border {
  fill: var(--boeing-colors-black);
  stroke: var(--boeing-colors-white);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

.airspeed-readout-box-border.shadow {
  fill: none;
  stroke: var(--boeing-colors-black);
  stroke-width: 5px;
}

.warning .airspeed-readout-box-border {
  stroke: var(--boeing-colors-amber);
  stroke-width: 5px;
}

.airspeed-digit-scroller {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 66px;
}

.airspeed-hundreds-scroller {
  left: 4px;
}

.airspeed-tens-scroller {
  left: 24px;
}

.airspeed-ones-scroller {
  left: 44px;
  --digit-scroller-line-height: 32px;
}
.airspeed-select-box {
  position: relative;
  width: 83px;
  height: 34px;
  background-color: var(--boeing-colors-black);
  overflow: hidden;
}

.airspeed-select-value {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 40px;
  color: var(--boeing-colors-magenta)
}
.gs-mach-readout {
  box-sizing: content-box;
  height: 30px;
  padding: 2px;
  color: var(--boeing-colors-white);
  border: solid 2px transparent;
  font-size: 36px;
}

.gs-mach-readout.gs-mach-readout-alert {
  border-color: var(--boeing-colors-white);
}

.gs-mach-readout-prefix {
  margin-right: 5px;
  font-size: 28px;
}

.gs-mach-readout-value {
  display: inline-block;
  min-width: 54px;
  text-align: right;
}
.no-vspd-flag {
  font-size: 30px;
  color: var(--boeing-colors-amber);
  background-color: var(--boeing-colors-black);
  line-height: 98.5%;
  text-align: center;
  padding: 5px 2px 0px;
}
.alt-preselect-container {
  position: relative;
  width: 101px;
  height: 75px;
}

.alt-preselect-box {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60%;
  color: var(--boeing-colors-magenta);
}

.alt-preselect-box.metric {
  background-color: var(--boeing-colors-black);
  top: 0;
  height: 40%;
}

.alt-preselect-value.approaching-alert-border {
  text-align: right;
  border: var(--boeing-colors-white) solid 6px;
  height: 100%;
  width: 100%;
}

.alt-preselect-thousands {
  position: absolute;
  bottom: -5px;
  right: 55px;
  font-size: 40px;
}

.alt-preselect-hundreds {
  position: absolute;
  bottom: -1px;
  right: 8px;
  font-size: 30px;
}

.alt-preselect-hundreds.metric {
  bottom: -8px;
}

.alt-preselect-unit {
  font-size: 24px;
  color: var(--boeing-colors-cyan);
}
.pfd-altimeter-container {
  position: relative;
  width: 98px;
  height: 543px;
  overflow: visible !important;
}

.altimeter-box {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 98px;
  height: 543px;
}

.altimeter-box .shadow {
  stroke: var(--boeing-colors-black);
}

.altimeter {
  width: 100%;
}

.altitude-mask {
  left: -19px;
  width: 117px;
}

.altimeter-tape {
  width: 100%;
}

.altimeter-tape-tick-container {
  left: 19px;
}

.altimeter-tape-tick {
  box-sizing: content-box;
  left: -2px;
  width: 22px;
  height: 3px;
  background: var(--boeing-colors-white);
  border: solid 1px var(--boeing-colors-black);
  border-radius: 4px;
}

.altimeter-tape-tick.altimeter-tape-tick-500 {
  height: 10px;
}

.altimeter-tape-tick.altimeter-tape-tick-1000 {
  left: -10px;
  width: 20px;
}

.altimeter-tape-label-container {
  right: 10px;
  color: var(--boeing-colors-white);
  -webkit-text-stroke: 2px var(--boeing-colors-black);
}

.altimeter-tape-label-numbers {
  position: relative;
  top: 0px;
  height: 21px;
  font-size: 27px;
}

.altimeter-tape-label-bar {
  box-sizing: content-box;
  display: none;
  right: -10px;
  width: 76px;
  height: 4px;
  background: var(--boeing-colors-white);
  border: solid 1px var(--boeing-colors-black);
  border-radius: 6px;
}

.altimeter-tape-label-bar-top {
  top: -9px;
}

.altimeter-tape-label-bar-bottom {
  bottom: -9px;
}

.altimeter-tape-label-big {
  margin-right: 2px;
  font-size: 27px;
}

.altimeter-tape-label-small {
  font-size: 20px;
}

.altimeter-tape-label-1000 .altimeter-tape-label-bar {
  display: block;
}

.altimeter-ground-ribbon {
  left: 19px;

  --altimeter-ground-ribbon-stem-shadow-upper-y-offset: -1px;
  --altimeter-ground-ribbon-stem-shadow-upper-height-offset: 1px;
  --altimeter-ground-ribbon-ground-line-shadow-y-offset: -1px;
}

.altimeter-ground-ribbon-stem {
  left: -6px;
  width: 8px;
}

.altimeter-ground-ribbon-stem.shadow {
  left: -7px;
  width: 10px;
  border-width: 6px;
  border-color: var(--boeing-colors-black);
}

.altimeter-ground-ribbon-stem-upper {
  border: solid 4px var(--boeing-colors-white);
  border-bottom-width: 2px;
  border-right: none;
}

.altimeter-ground-ribbon-stem-upper.shadow {
  border-bottom-width: 3px;
}

.altimeter-ground-ribbon-stem-lower {
  border: solid 4px var(--boeing-colors-amber);
  border-top-width: 2px;
  border-right: none;
  border-bottom: none;
}

.altimeter-ground-ribbon-stem-lower.shadow {
  border-top-width: 3px;
}

.altimeter-ground-ribbon-ground-line {
  left: -6px;
  width: 104px;
  height: 3px;
  background: var(--boeing-colors-amber);
}

.altimeter-ground-ribbon-ground-line.shadow {
  left: -7px;
  width: 106px;
  height: 5px;
  background: var(--boeing-colors-black);
}

.altimeter-ground-ribbon-stripes {
  left: 0px;
  width: 98px;
  height: 40px;
  fill: none;
}

.altimeter-ground-ribbon-stripes-stroke {
  vector-effect: non-scaling-stroke;
  stroke: var(--boeing-colors-amber);
  stroke-width: 4px;
  stroke-linecap: butt;
}

.altimeter-preselect-bug {
  position: absolute;
  left: 14px;
  width: 45px;
  height: 75px;
  fill: none;
  stroke-linejoin: round;
}

.altimeter-preselect-bug-stroke {
  stroke-width: 4px;
  stroke: var(--boeing-colors-magenta);
  vector-effect: non-scaling-stroke;
}

.altimeter-preselect-bug-stroke.shadow {
  stroke-width: 6px;
}

.altimeter-baro-mins-bug {
  position: absolute;
  left: 4px;
  width: 112px;
  height: 40px;
  fill: none;
  color: var(--boeing-colors-green);
}

.altimeter-baro-mins-bug.warning {
  color: var(--boeing-colors-amber);
}

.altimeter-baro-mins-bug-stroke {
  stroke-width: 4px;
  vector-effect: non-scaling-stroke;
}

.altimeter-readout {
  position: absolute;
  top: 50%;
  left: 19px;
  width: 116px;
  height: 65px;
  transform: translateY(-50%);
  color: var(--boeing-colors-white);

  --digit-scroller-line-height: 50px;
  --digit-scroller-line-offset-y: 6px;
}

.altimeter-readout-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  paint-order: normal;
}

.altimeter-readout-box-border {
  fill: var(--boeing-colors-black);
  stroke: var(--boeing-colors-white);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

.altimeter-readout-box-border.shadow {
  fill: none;
  stroke: var(--boeing-colors-black);
  stroke-width: 5px;
}

.warning .altimeter-readout-box-border {
  stroke: var(--boeing-colors-amber);
}

.bold .altimeter-readout-box-border.shadow {
  stroke-width: 6px;
}

.bold .altimeter-readout-box-border {
  stroke-width: 4px;
}

.alt-digit-scroller {
  position: absolute;
  top: 5px;
  height: 55px;
  width: 20px;
}

.alt-ten-thousands-scroller {
  left: 18px;
  font-size: 40px;
}

.alt-ten-thousands-scroller .digit-scroller-digit-12 {
  color: var(--boeing-colors-green);
}

.alt-thousands-scroller {
  left: 38px;
  font-size: 40px;
}

.alt-hundreds-scroller {
  left: 62px;
  font-size: 30px;

  --digit-scroller-line-offset-y: 5px;
}

.alt-digit-scroller.alt-tens-scroller {
  left: 78px;
  width: 31px;
  font-size: 30px;

  --digit-scroller-line-height: 28px;
  --digit-scroller-line-offset-y: 5px;
}

.metric-altitude-box {
  background: var(--boeing-colors-black);
  position: absolute;
  top: 207px;
  right: -38px;
  width: 105px;
  height: 35px;
  text-align: right;
  padding-right: 3px;
  border: 3px solid var(--boeing-colors-white);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  box-shadow: -1px 0 var(--boeing-colors-black), 1px 0 var(--boeing-colors-black), 0 -1px var(--boeing-colors-black);
}

.metric-altitude-value-container {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding-top: 6px;
  line-height: 0;
}

.metric-altitude-value-container .value {
  color: var(--boeing-colors-white);
  font-size: 30px;
}

.metric-altitude-value-container .unit {
  color: var(--boeing-colors-cyan);
  font-size: 24px;
}

.altimeter-ldg-alt-flag {
  position: absolute;
  right: -110px;
  bottom: -20px;
  width: 100px;
  font-size: 30px;
  color: var(--boeing-colors-amber);
  display: none;
}

.no-ldg-alt .altimeter-ldg-alt-flag {
  display: block;
}
.pfd-alt-baro-container {
  position: relative;
}

.alt-baro {
  display: grid;
  grid-template-rows: 32px 18px;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;

  font-size: var(--alt-baro-font-size-small);
  color: var(--boeing-colors-white);
  -webkit-text-stroke: 1px var(--boeing-colors-black);
  white-space: nowrap;

  --alt-baro-font-size-small: 20px;
  --alt-baro-font-size-medium: 30px;
  --alt-baro-font-size-large: 40px;
}

.alt-baro-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.alt-baro-source,
.alt-baro-uplink,
.alt-baro-reference {
  display: none;
}

.alt-baro-setting {
  width: 118px;
}

.alt-baro-setting-inner {
  width: min-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.alt-baro-value-wrapper {
  width: 76px;
  text-align: right;
}

.alt-baro-value {
  display: inline-block;
}

.alt-baro-unit {
  margin-left: 6px;
}

/* This pseudo-child is here to make sure the baseline of the top row does not change as we change font sizes. */
.alt-baro-top::before {
  content: " ";
  font-size: var(--alt-baro-font-size-large);
  white-space: pre;
  width: 0px;
}

.alt-baro-top .alt-baro-value-wrapper {
  font-size: var(--alt-baro-font-size-medium);
}

.alt-baro-std .alt-baro-top .alt-baro-value-wrapper {
  font-size: var(--alt-baro-font-size-large);
}

.alt-baro-top .alt-baro-setting {
  color: var(--boeing-colors-green);
}

/* Explicitly set the height of these divs so that boxed outline is aligned properly when shown. */
.alt-baro-top .alt-baro-value-wrapper,
.alt-baro-top .alt-baro-value,
.alt-baro-top .alt-baro-unit {
  height: 0.85em;
}

.alt-baro-alert .alt-baro-top .alt-baro-setting {
  color: var(--boeing-colors-amber);
}

.alt-baro-alert:not(.alt-baro-std) .alt-baro-top .alt-baro-setting-inner {
  outline: solid 2px var(--boeing-colors-amber);
  outline-offset: 2px;
}

.alt-baro-alert.alt-baro-std .alt-baro-top .alt-baro-value {
  outline: solid 2px var(--boeing-colors-amber);
  outline-offset: 2px;
}
.approach-reference {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  paint-order: stroke;
  -webkit-text-stroke: 0.012em black;
  font-size: 22px;
}

.approach-reference-disagree {
  position: relative;
  color: var(--boeing-colors-amber);
}

.approach-reference-disagree::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 35%;
  width: 100%;
  height: 3px;
  background: var(--boeing-colors-amber);
  transform: translateY(-50%);
}
.deviation-box {
  width: 100%;
  height: 100%;

  --deviation-scale-ls-dot-radius: 4px;
  --deviation-scale-ls-reduced-dot-width: 8px;
  --deviation-scale-ls-reduced-dot-height: 10px;

  --deviation-pointer-shadow-stroke-width: 4.5px;
  --deviation-pointer-stroke-width: 3px;
  --deviation-pointer-np-color: var(--boeing-colors-magenta);
  --deviation-pointer-ian-color: var(--boeing-colors-magenta);
  --deviation-pointer-ls-color: var(--boeing-colors-magenta);
}

.deviation-box .translatable {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.deviation-box .shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5.5px;
  opacity: 0.5;
}

.deviation-scale-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;

  --deviation-scale-color: var(--boeing-colors-white);
}

.deviation-scale-container.alert {
  --deviation-scale-color: var(--boeing-colors-amber);
}

.deviation-scale-container-np {
  height: 100%;
}

.deviation-scale-container-ls {
  height: 65%;
}

.deviation-scale {
  stroke-width: 5px;
  stroke: var(--deviation-scale-color);
  fill: none;
  stroke-linecap: round;
  paint-order: stroke;
}

.deviation-scale .shadow {
  stroke-width: 7px;
}

.deviation-scale-ls-dot,
.deviation-scale-ls-reduced-dot {
  stroke-width: 4px;
}

.deviation-scale .deviation-scale-ls-dot.shadow,
.deviation-scale .deviation-scale-ls-reduced-dot.shadow {
  stroke-width: 5.5px;
}

.deviation-anp-bar {
  top: 7px;
  height: 12px;
  background: var(--deviation-scale-color);
}

.deviation-anp-bar-end {
  top: 7px;
  width: 4px;
  height: 12px;
  background: var(--deviation-scale-color);
}

.deviation-background-fmc,
.deviation-background-ls {
  position: absolute;
  /* allow the round endcap on the centre scale to go above the box */
  top: 2px;
  width: 100%;
}

.deviation-background-fmc {
  /* gap above, and gap below for fmc indicator to extend outside the box */
  height: calc(100% - 2px - 6px);
}

.deviation-background-ls {
  /* gap above and below for centre tick to go outside box */
  height: calc(65% - 2px - 2px);
}

.deviation-pointer path {
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.deviation-pointer-ian,
.deviation-pointer-np {
  position: absolute;
  left: 50%;
  top: 10px;
  height: 24px;
  transform: translateX(-50%);
}

.deviation-pointer-ls {
  position: absolute;
  left: 50%;
  top: 14px;
  width: 34px;
  height: 18px;
  transform: translate(-50%, -50%);
}

.deviation-pointer-ian-subdued {
  --deviation-pointer-ian-color: var(--boeing-colors-white);
}

.deviation-pointer-ls-subdued {
  --deviation-pointer-ls-color: var(--boeing-colors-white);
}

.flash .deviation-pointer {
  animation: pfd-deviation-pointer-alert-flash 0.4s 0.1s infinite step-end;
}

@keyframes pfd-deviation-pointer-alert-flash {
  50% {
    opacity: 0;
  }
}
.lateral-deviation-box {
  position: relative;
  width: 300px;
  height: 42px;
}
.rising-runway-box {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 155px;
  width: 374px;
  height: 170px;
}

.rising-runway-symbol {
  position: absolute;
  top: 6px;
  left: 73px;
  width: 230px;
  height: 392px;
}

.rising-runway-symbol svg {
  position: absolute;
}
.vertical-deviation-box {
  position: relative;
  width: 300px;
  height: 42px;
}
.marker-beacon-box {
  position: absolute;
  right: 33.5%;
  top: 185px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--boeing-colors-black);
  border-radius: 50%;
  font-size: 32px;
  padding-top: 2px;
  text-align: center;
  box-shadow: inset 1px 1px 2px var(--boeing-colors-black), 1px 1px 1px var(--boeing-colors-black);
  display: none;
}

.outer-animation {
  display: block;
  color: var(--boeing-colors-cyan);
  border: 3px solid var(--boeing-colors-cyan);
  animation: flasher .8s infinite step-end;
}

.middle-animation {
  display: block;
  color: var(--boeing-colors-amber);
  border: 3px solid var(--boeing-colors-amber);
  animation: flasher .5s infinite step-end;
}

.inner-animation {
  display: block;
  color: var(--boeing-colors-white);
  border: 3px solid var(--boeing-colors-white);
  animation: flasher .33s infinite step-end;
}

@keyframes flasher {
  50% {
    opacity: 0;
  }
}
.minimums-indicator {
  color: var(--boeing-colors-green);
  word-spacing: -.3ch;
  position: absolute;
  top: 77.1%;
  right: 33.5%;
  width: 100px;

  --minimums-font-size-large: 30px;
  --minimums-font-size-medium: 24px;
}

.minimums-indicator.radio-minimums {
  top: 7.9%;
  right: 30.9%;
}

.minimums-indicator-alert {
  color: var(--boeing-colors-amber);
  background: black;
}

.minimums-indicator-text {
  display: flex;
  flex-direction: column;
  padding: 4px 4px 0 2px;
  font-weight: 600;
}

.minimums-indicator-text-label {
  font-size: var(--minimums-font-size-medium);
}

.minimums-indicator.radio-minimums .minimums-indicator-text-label {
  height: 22px;
}

.minimums-indicator-text-value {
  font-size: var(--minimums-font-size-large);
}

.minimums-indicator-text div {
  width: 100%;
  text-align: right;
  margin-bottom: 0;
  padding-bottom: 0;
}

.minimums-indicator-flash .minimums-indicator-text {
  animation: pfd-minimums-indicator-alert-flash 0.4s 0.1s infinite step-end;
}

@keyframes pfd-minimums-indicator-alert-flash {
  50% {
    opacity: 0;
  }
}
.navigation-source {
  font-size: 30px;
  paint-order: stroke;
  -webkit-text-stroke: 0.012em black;
}

.navigation-source.navigation-source-small {
  font-size: 22px;
}
.black-box.radio-alt {
  height: 42px;
  margin: 1px 1px 0;

  background-color: transparent !important;
  border: 3px solid transparent;

  text-align: center;
  font-size: 42px;
  color: var(--boeing-colors-white);
}

.black-box.radio-alt.radio-alt-alert {
  border-color: var(--boeing-colors-white);
}

.black-box.radio-alt.radio-alt-below-minima {
  color: var(--boeing-colors-amber);
}

.black-box.radio-alt.radio-alt-failed {
  color: var(--boeing-colors-amber);
  border: 3px solid var(--boeing-colors-amber);
}
.pfd-vertical-speed-container {
  position: relative;
  width: 66px;
  height: 374px;
}

.pfd-vertical-speed-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  fill: var(--boeing-colors-darker-gray);
  stroke: var(--boeing-colors-black);
  stroke-width: 0.5px;
  overflow: visible;
}

.vertical-speed {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: var(--boeing-colors-white);
  -webkit-text-stroke: 2px var(--boeing-colors-black);
}

.vertical-speed-coordinate-box {
  right: 0px;
}

.vertical-speed-scale-tick {
  stroke: var(--boeing-colors-white);
  stroke-linecap: round;
}

.vertical-speed-scale-tick.shadow {
  stroke: var(--boeing-colors-black);
}

.vertical-speed-scale-tick-minor {
  stroke-width: 3px;
}

.vertical-speed-scale-tick-minor.shadow {
  stroke-width: 5px;
}

.vertical-speed-scale-tick-major,
.vertical-speed-scale-tick-zero {
  stroke-width: 4px;
}

.vertical-speed-scale-tick-major.shadow,
.vertical-speed-scale-tick-zero.shadow {
  stroke-width: 6px;
}

.vertical-speed-scale-label {
  left: -22px;
  transform: translateY(-50%) translateY(3px);
  font-size: 23px;
}

.vertical-speed-pointer {
  stroke: var(--boeing-colors-white);
  stroke-width: 4px;
  stroke-linecap: round;
}

.vertical-speed-pointer.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 6px;
}

.vertical-speed-bug {
  left: -9px;
  width: 12px;
  height: 10px;
}

.vertical-speed-bug-bar {
  stroke: var(--boeing-colors-magenta);
  stroke-width: 3px;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.vertical-speed-bug-bar.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5px;
}

.vertical-speed-readout {
  position: absolute;
  right: 10px;
  font-size: 28px;
}

.vertical-speed-readout-top {
  bottom: 370px;
}

.vertical-speed-readout-bottom {
  top: 378px;
}
.pfd-afds-display {
  position: absolute;
  bottom: 77.7%;
  left: 20%;
  width: 374px;
  display: flex;
  justify-content: center;
  color: var(--boeing-colors-green);
  font-size: 40px;
  text-align: center;
}

.pfd-afds-display .afds-status {
  position: relative;
  width: 48%;
}

.afds-status .afds-status-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
}

.pfd-afds-display .afds-status-active {
  width: 100%;
  line-height: 1;
  position: relative;
  top: 6px;
}

.afds-status.afds-status-alert .afds-status-border {
  border-color: var(--boeing-colors-green);
}

.afds-status-failed {
  color: var(--boeing-colors-amber);
}

.afds-status.afds-status-failed.afds-status-alert .afds-status-border {
  border-color: var(--boeing-colors-amber);
}
.fma {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  top: -1px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 5px 0.9fr 5px 1fr;
  grid-template-rows: 61% 39%;
  grid-template-areas:
    "at-active splitter-l lat-active splitter-r vert-active"
    "empty splitter-l lat-armed splitter-r vert-armed";

  paint-order: stroke;
  -webkit-text-stroke: 0.012em black;

  white-space: nowrap;

  --fma-large-font-size: 30px;
  --fma-large-line-height: 1em;
  --fma-small-font-size: 22px;
  --fma-small-line-height: 0.9em;

  --fma-boxed-border-width: 3px;
}

.fma-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  top: 2px;
}

.fma-splitter {
  width: 5px;
  height: 95%;
  margin-top: 4px;
  stroke: var(--boeing-colors-white);
  stroke-width: 4px;
  stroke-linecap: round;
  grid-row: span 2;
  overflow: visible;
}

.fma-splitter .shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5px;
}

.fma-active {
  position: relative;
  top: 0;
  height: 30px;
  padding: 0;
  margin: 1px;

  color: var(--boeing-colors-green);

  font-size: var(--fma-large-font-size);
  line-height: var(--fma-large-line-height);
  text-align: center;

  border: var(--fma-boxed-border-width) solid transparent;
}

.fma-autothrottle-active {
  grid-area: at-active;
}

.fma-lateral-active {
  grid-area: lat-active;
}

.fma-vertical-active {
  grid-area: vert-active;
}

.fma-armed {
  position: relative;
  bottom: 0;
  padding: 0;
  margin-top: 5px;

  color: var(--boeing-colors-white);

  font-size: var(--fma-small-font-size);
  text-align: center;
  line-height: var(--fma-small-line-height);
}

.fma-autothrottle-armed {
  grid-area: at-armed;
}

.fma-lateral-armed {
  grid-area: lat-armed;
}

.fma-vertical-armed {
  grid-area: vert-armed;
}

.fma-mode-alert {
  border-color: var(--boeing-colors-green);
}

.fma-mode-failed::after {
  content: '';
  border-bottom: 3px solid var(--boeing-colors-amber);
  width: 100%;
  position: absolute;
  right: 0;
  top: 45%;
}
.pfd-airplane-symbol {
  width: 300px;
  paint-order: normal;
}

.pfd-airplane-symbol-wings {
  fill: var(--boeing-colors-black);
  stroke: var(--boeing-colors-white);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

.pfd-airplane-symbol-wings.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 4px;
}
.pfd-bank-indicator {
  --pfd-bank-indicator-pointer-color: var(--boeing-colors-white);
}

.pfd-bank-indicator.pfd-bank-indicator-bank-alert {
  --pfd-bank-indicator-pointer-color: var(--boeing-colors-amber);
}

.pfd-bank-indicator-scale-pointer {
  fill: var(--boeing-colors-white);
  stroke: var(--boeing-colors-white);
  stroke-width: 1px;
}

.pfd-bank-indicator-scale-pointer.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 1.75px;
}

.pfd-bank-indicator-scale-ticks {
  stroke: var(--boeing-colors-white);
  stroke-width: 4px;
}

.pfd-bank-indicator-scale-ticks.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5.5;
}

.pfd-bank-indicator-pointer,
.pfd-bank-indicator-slip-skid {
  stroke: var(--pfd-bank-indicator-pointer-color);
  stroke-width: 4px;
  fill: none;
}

.pfd-bank-indicator-pointer.shadow,
.pfd-bank-indicator-slip-skid.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 5.5px;
}

.pfd-bank-indicator-bank-alert .pfd-bank-indicator-pointer {
  fill: var(--pfd-bank-indicator-pointer-color);
}

.pfd-bank-indicator-slip-skid-alert .pfd-bank-indicator-slip-skid {
  fill: var(--pfd-bank-indicator-pointer-color);
}
.pfd-fd-command-bar {
  box-sizing: content-box;
  background: var(--boeing-colors-magenta);
  border-radius: 4px;
  border: solid 1px var(--boeing-colors-black);
}

.pfd-fd-command-bar-pitch {
  width: 220px;
  height: 4px;
}

.pfd-fd-command-bar-bank {
  width: 4px;
  height: 220px;
}

.pfd-fd-reference {
  width: 11px;
  height: 11px;
}

.pfd-fd-reference-stroke {
  stroke: var(--boeing-colors-white);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

.pfd-fd-reference-stroke.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 4px;
}
.pfd-fpv {
  width: 68px;
}

.pfd-fpv-stroke {
  stroke: var(--boeing-colors-white);
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;
}

.pfd-fpv-stroke.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 4px;
}

.pfd-fpv-nonconformal .pfd-fpv-stroke-line-side {
  stroke-dasharray: 9.7 5;
}

.pfd-fpv-nonconformal .pfd-fpv-stroke-circle {
  stroke-dasharray: 10 5;
  stroke-dashoffset: 5;
}
.pfd-horizon-line {
  box-sizing: content-box;
  height: 4px;
  background: var(--boeing-colors-white);
  border-radius: 6px;
  border: solid 1px var(--boeing-colors-black);
}
.pfd-pitch-ladder-container {
  font-size: 20px;
}

.pfd-pitch-ladder-line {
  stroke: var(--boeing-colors-white);
  stroke-width: 2.5px;
}

.pfd-pitch-ladder-line.shadow {
  stroke: var(--boeing-colors-black);
  stroke-width: 3.5px;
}

.pfd-pitch-ladder-label {
  fill: var(--boeing-colors-white);
  stroke: var(--boeing-colors-black);
  stroke-width: 1.5px;
}
.pfd-pitch-limit {
  width: 188px;
}

.pfd-pitch-limit-stroke {
  stroke: var(--boeing-colors-amber);
  vector-effect: non-scaling-stroke;
}

.pfd-pitch-limit-stroke-thick {
  stroke-width: 4px;
}

.pfd-pitch-limit-stroke-thin {
  stroke-width: 2.5px;
}

.pfd-pitch-limit-stroke.shadow {
  stroke: var(--boeing-colors-black);
}

.pfd-pitch-limit-stroke-thick.shadow {
  stroke-width: 5px;
}

.pfd-pitch-limit-stroke-thin.shadow {
  stroke-width: 3.5px;
}
.pfd-tcas-ra-pitch-nofly-stroke {
  stroke: var(--boeing-colors-red);
}

.pfd-tcas-ra-pitch-nofly-stroke.shadow {
  stroke: var(--boeing-colors-black);
}
.pfd-horizon-container {
  position: relative;
  width: 374px;
  height: 388px;
  overflow: hidden;
}

.pfd-horizon-display {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 374px;
  height: 388px;
}

.pfd-horizon-mask {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 394px;
  height: 408px;
}

.pfd-horizon-failure-flag {
  box-sizing: content-box;
  height: 34px;
  padding: 0px 3px;
  font-size: 40px;
  background: var(--boeing-colors-black);
  border: 3px solid var(--boeing-colors-amber);
  color: var(--boeing-colors-amber);
  text-align: center;
}

.pfd-horizon-att-flag {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.pfd-horizon-fd-flag {
  position: absolute;
  left: 306px;
  top: 76px;
  transform: translateX(-50%);
}

.pfd-horizon-fpv-flag {
  position: absolute;
  left: 68px;
  top: 76px;
  transform: translateX(-50%);
}
.pfd-display-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.pfd-display-container .pfd-horizon-container {
  position: absolute;
  left: 156px;
  top: 176px;
}

.pfd-display-container .pfd-airspeed-container {
  position: absolute;
  left: 19px;
  top: 106px;
}

.pfd-display-container .airspeed-select-box {
  position: absolute;
  left: 26px;
  top: 52px;
}

.pfd-display-container .gs-mach-readout {
  position: absolute;
  left: 22px;
  top: 686px;
}

.pfd-display-container .pfd-vertical-speed-container {
  position: absolute;
  right: 12px;
  top: 377px;
  transform: translateY(-50%);
}

.pfd-display-container .pfd-altimeter-container {
  position: absolute;
  left: 584px;
  top: 106px;
}

.pfd-display-container .alt-preselect-container {
  position: absolute;
  left: 584px;
  top: 11px;
}

.pfd-radio-altimeter-container {
  position: relative;
  left: 56.3%;
  top: 7.7%;
  width: 104px;
  display: flex;
  justify-content: flex-end;
}

.pfd-compass-container {
  position: absolute;
  overflow: hidden;
  width: 52%;
  height: 16.1%;
  bottom: 2.1%;
  left: 17.7%;
}

.pfd-fma-box {
  position: relative;
  overflow: hidden;
  width: 56%;
  height: 6.4%;
  top: 2%;
  left: 16.5%;
}

.pfd-display-container .pfd-alt-baro-container {
  position: absolute;
  left: 592px;
  top: 666px;
}

.pfd-display-container .lateral-deviation-box {
  position: absolute;
  left: 343px;
  top: 565px;
  transform: translateX(-50%);
}

.pfd-display-container .vertical-deviation-box {
  position: absolute;
  left: 530px;
  top: 377px;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: top center;
}

.pfd-display-container .navigation-source {
  position: absolute;
  top: 142px;
  left: 160px;
}

.pfd-display-container .approach-reference {
  position: absolute;
  top: 84px;
  left: 160px;
}

.pfd-display-container .no-vspd-flag {
  position: absolute;
  left: 120px;
  top: 212px;
}

.pfd-display-container .gray-box {
  position: absolute;
  background-color: var(--boeing-colors-darker-gray);
  overflow: hidden;
}

.pfd-display-container .outlined-box {
  border: 1px solid var(--boeing-colors-black-translucent-border);
}

.pfd-display-container .black-box {
  position: absolute;
  background-color: var(--boeing-colors-black);
  overflow: hidden;
}

.pfd-compass-container .pfd-compass-background {
  position: absolute;
  top: 23px;
  left: -45px;
  width: 497px;
  height: 497px;
  border-radius: 497px;
  background-color: var(--boeing-colors-darker-gray);
}

.pfd-display-container .pfd-failure-flag {
  box-sizing: content-box;
  height: 34px;
  font-size: 40px;
  color: var(--boeing-colors-amber);
  text-align: center;
  white-space: pre;
}

.pfd-display-container .pfd-failure-flag-boxed {
  padding: 0 3px;
  background: var(--boeing-colors-black);
  border: solid 3px var(--boeing-colors-amber);
}

.pfd-display-container .pfd-failure-flag-vert {
  padding-top: 0.1em;
  line-height: 0.9em;
}

.pfd-display-container .pfd-failure-flag.pfd-spd-flag {
  position: absolute;
  left: 68px;
  top: 377px;
  height: 102px;
  transform: translate(-50%, -50%);
}

.pfd-display-container .pfd-mach-flag {
  position: absolute;
  left: 22px;
  top: 684px;
}

.pfd-display-container .pfd-failure-flag.pfd-alt-flag {
  position: absolute;
  left: 633px;
  top: 377px;
  height: 102px;
  transform: translate(-50%, -50%);
}

.pfd-display-container .pfd-failure-flag.pfd-vert-flag {
  position: absolute;
  right: 26px;
  top: 377px;
  height: 138px;
  transform: translateY(-50%);
}
wtb748-pfd {}