:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasGrey: #c8c8c8;
    --eicasBlue: #009696;
    --eicasGreen: green;
    --eicasOrange: #db7200;
    --eicasRed: red;
    --eicasMagenta: magenta; }
    :root text {
      font-family: "BoeingEICAS"; }

@font-face {
  font-family: "BoeingEICAS";
  src: url("/Fonts/BoeingEICAS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
  
b747-8-lower-eicas-stat {
  position: relative;
  left: 3.5%;
  width: 95.5%;
  top: 4.25%;
  height: 88%;
  display: block; }
  b747-8-lower-eicas-stat svg {
    width: 100%;
    height: 100%; }
  b747-8-lower-eicas-stat text {
    fill: var(--eicasBlue);
    font-size: 15px; }
  b747-8-lower-eicas-stat #values-info text, b747-8-lower-eicas-stat #clock-values text {
    fill: var(--eicasWhite);
    font-size: 17px; }
  b747-8-lower-eicas-stat #clock-labels {
    transform: translateX(40px);
  }
  b747-8-lower-eicas-stat #clock-values {
    transform: translateX(25px);
  }
  b747-8-lower-eicas-stat .utc {
    transform: translateX(-15px);
  }
  b747-8-lower-eicas-stat #time {
    transform: translateX(6px);
  }