node_modules/
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
salty-747/manifest.json
salty-747/layout.json
salty-747/html_ui/Pages/Salty/fpm
salty-747/html_ui/Pages/VCockpit/Instruments/74s
src/fpm/dist
bundles/
.ace/canvas.json
.ace/simvars.json
.ace/live-reload.json
src/sounds/.cache/
