:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasGrey: #c8c8c8;
    --eicasBlue: #009696;
    --eicasGreen: green;
    --eicasOrange: #db7200;
    --eicasRed: red;
    --eicasMagenta: magenta; }
    :root text {
      font-family: Roboto-Bold; }

b747-8-lower-eicas-ecl-descent-checklist {
  position: relative;
  left: 3.5%;
  width: 95.5%;
  top: 4.25%;
  height: 88%;
  display: block; }
  b747-8-lower-eicas-ecl-descent-checklist svg {
    width: 100%;
    height: 100%; }
  b747-8-lower-eicas-ecl-descent-checklist text {
    fill: var(--eicasWhite);
    font-size: 17px; }
  b747-8-lower-eicas-ecl-descent-checklist rect {
    fill: #53536c; }
  b747-8-lower-eicas-ecl-descent-checklist path {
    stroke: lime;
    fill: lime; 
    visibility: hidden;}
  b747-8-lower-eicas-ecl-descent-checklist #checklist-complete-rect {
    fill: lime; }
    b747-8-lower-eicas-ecl-descent-checklist #descent-checklist-cursor-positions {
    visibility: hidden; }