:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

b747-8-rudder {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black; }
  b747-8-rudder #Content {
    background-color: black;
    width: 512px;
    height: 100px; }
    b747-8-rudder #Content svg {
      width: 100%;
      height: 100%; }
    b747-8-rudder #Content text {
      text-anchor: middle;
      fill: white;
      alignment-baseline: central; }
    b747-8-rudder #Content text.title {
      font-size: 16px; }
    b747-8-rudder #Content text.marker {
      font-size: 12px; }
    b747-8-rudder #Content text.label {
      font-size: 15px; }
    b747-8-rudder #Content line {
      stroke: white;
      stroke-width: 2px; }
    b747-8-rudder #Content #Arrow {
      fill: white; }

