:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasGrey: #c8c8c8;
    --eicasBlue: cyan;
    --eicasGreen: lime;
    --eicasOrange: #db7200;
    --eicasRed: red;
    --eicasMagenta: #D570FF; }
    :root text {
      font-family: "BoeingEFIS"; }

b747-8-lower-eicas-elec {
  position: relative;
  left: 3.5%;
  width: 95.5%;
  top: 4.25%;
  height: 88%;
  display: block; }
  b747-8-lower-eicas-elec svg {
    width: 100%;
    height: 100%; }
  b747-8-lower-eicas-elec #labels-cyantext {
    fill: var(--eicasBlue);
    font-size: 17px; }
  b747-8-lower-eicas-elec #labels-greentext {
    fill: var(--eicasGreen);
    font-size: 17px; }
  b747-8-lower-eicas-elec #labels-ambertext {
    fill: var(--eicasOrange);
    font-size: 17px; }
  b747-8-lower-eicas-elec #bustie-rects {
    stroke: var(--eicasWhite);
    fill: black; 
    fill-opacity: 0;
    stroke-width: 1.5; }
  b747-8-lower-eicas-elec #buslabel-rects {
    stroke: var(--eicasGreen);
    fill: black;
    fill-opacity: 0;
    stroke-width: 1.5; }
  b747-8-lower-eicas-elec #gen-rects {
    stroke: var(--eicasWhite);
    fill: black; 
    fill-opacity: 0;
    stroke-width: 1.5; }
  b747-8-lower-eicas-elec #ssb-rects {
    stroke: var(--eicasWhite);
    fill: black; 
    fill-opacity: 0;
    stroke-width: 1.5; }
  b747-8-lower-eicas-elec #drive-rects {
    stroke: var(--eicasGreen);
    fill: black; 
    stroke-width: 2; }
  b747-8-lower-eicas-elec #blank-rects {
    stroke: black;
    fill: black; 
    stroke-width: 1.5; }
  b747-8-lower-eicas-elec #lines-busoutline {
    stroke: var(--eicasWhite);
    stroke-width: 1; }
  b747-8-lower-eicas-elec #lines-greenpath {
    stroke: var(--eicasGreen);
    stroke-width: 5; }
  b747-8-lower-eicas-elec #lines-galleyutils {
    stroke: var(--eicasGreen);
    stroke-width: 1; }
