:root {
    --eicasWhite: white;
    --eicasBlack: black;
    --eicasGrey: #c8c8c8;
    --eicasBlue: #009696;
    --eicasGreen: green;
    --eicasOrange: #db7200;
    --eicasRed: red;
    --eicasMagenta: magenta; }
    :root text {
      font-family: BoeingEFIS; }

@font-face {
    font-family: "BoeingEFIS";
    src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

b747-8-lower-eicas-ecl {
  position: relative;
  left: 3.5%;
  width: 95.5%;
  top: 7.0%;
  height: 88%;
  display: block; }
  b747-8-lower-eicas-ecl svg {
    width: 100%;
    height: 100%; }
  b747-8-lower-eicas-ecl text {
    fill: var(--eicasWhite);
    font-size: 20px; }
  b747-8-lower-eicas-ecl rect {
    fill: #53536c; }
  b747-8-lower-eicas-ecl #checklist-complete-rect {
    fill: lime; }
  b747-8-lower-eicas-ecl #overrideGroup-rect {
    fill: cyan; }
  b747-8-lower-eicas-ecl #menu-items {
    visibility: visible; }


