@font-face {
    font-family: "BoeingEFIS";
    src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

text {
    font-family: "BoeingEFIS";
}

.gray-bg {
    fill: rgb(95, 95, 115);
}

.horizon-group {
    transform-origin: 349px 382px;
}

.text {
    fill: white;
    stroke: black;
    text-anchor: end;
    stroke-width: 1.5px;
    paint-order: stroke;
}

.text-1 {
    @extend .text;
    font-size: 17.55px;
    letter-spacing: -0.75px;
}

.text-2 {
    @extend .text;
    font-size: 23.4px;
    letter-spacing: -0.5px;
}

.text-3 {
    @extend .text;
    font-size: 30px;
    letter-spacing: -0.25px;
}

.text-4 {
    @extend .text;
    font-size: 40px;
    letter-spacing: 0px;
}

.line {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.fpv-outline {
    @extend .line;
    stroke: black;
    stroke-width: 6px;
}

.fpv-line {
    @extend .line;
    stroke: white;
    stroke-width: 4px;
}
