[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME BOEING.0.text"
atc_model = "TT:ATCCOM.AC_MODEL_B748.0.text"
Category = "airplane"
performance = "Cruise Speed\n0.85 Mach         565 mph         910 km\/h\n\nEngine options\nPratt & Whitney PW4062\nRolls-Royce RB211-524H\nGeneral Electric CF6-80C2B5F\n\nMaximum Range\n7,325 nm         13,570 km\n\nMaximum Certified Operating Altitude              45,100 ft          13,747 m\n\nFuel Capacity\n57,285 gal       216,840 L\n\nBasic Empty Weight\n394,088 lb    178,755 kg\n\nMax Gross Weight                        875,000 lb       396,893 kg\n\nLength\n231 ft, 10 in       70.6 m\n\nWingspan\n211 ft, 5 in         64.4 m\n\nHeight\n63 ft, 8 in         19.4 m\n\nSeating Typical 3-class configuration - 416\nTypical 2-class configuration - 524"
editable = 0
wip_indicator = 2
icao_type_designator = "B748"
icao_manufacturer = "BOEING"
icao_model = "747-8i"
icao_engine_type = "Jet"
icao_engine_count = 4
icao_WTC = "H"

[PILOT]
pilot = "Pilot_Female_Uniform"
copilot = "Pilot_Male_Uniform"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PoseAirliner"
copilot_default_animation = "Idle2_PoseAirliner"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 1
CATERING_TRUCK = 1
BOARDING_RAMP = 1
GROUND_POWER_UNIT = 1
PUSHBACK = 1
SMALL_PUSHBACK = 0
MARSHALLER = 1
JETWAY = 1

[EFFECTS]
effect.0 = L1_EngineFX#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = L2_EngineFX#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG
effect.2 = R1_EngineFX#(A:GENERAL ENG COMBUSTION:3, boolean)#FX_ASOBO_HEAT_BIG
effect.3 = R2_EngineFX#(A:GENERAL ENG COMBUSTION:4, boolean)#FX_ASOBO_HEAT_BIG

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = TT:LOADING.TIPS.B747_8I_001
Tips1 = TT:LOADING.TIPS.B747_8I_002
Tips2 = TT:LOADING.TIPS.B747_8I_003
Tips3 = TT:LOADING.TIPS.B747_8I_004

[VR]
yoke_anim_x = "yoke_lever_stick_l_r"
yoke_anim_y = "yoke_lever_stick_fore_aft"
yoke_node = "COCKPIT_YOKE_PILOT"
yoke_collision_mesh = "HANDLING_Yoke_1_Hider_Yoke"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Salty Boeing 747-8i Boeing House" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "" ; texture folder
kb_checklists = "Boeing747-400_check" ; Procedures/Checklist sibling file name
kb_reference = "Boeing747-400_ref" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "Salty Simulations" ; e.g. Boeing, Cessna
ui_type = "747-8 Intercontinental" ; e.g. 747-400, 172
ui_variation = "Boeing House" ; e.g. World Air, IFR Panel
ui_typerole = "Commercial Airliner" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Salty Simulations" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 43100 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 8000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 16 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 21160 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "AS-747" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "1123" ; flight number
atc_heavy = 1 ; heavy?
atc_parking_types = "GATE,RAMP,CARGO" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

