:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    -webkit-user-select: none;
    font-family: "BoeingEICAS" !important;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "BoeingEICAS";
  src: url("/Fonts/BoeingEICAS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

eicas-common-display {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 25%; }
  eicas-common-display line {
    stroke: gray;
    stroke-width: 6; }
  eicas-common-display text {
    font-size: 20px;
    font-family: "BoeingEICAS" !important; }
  eicas-common-display text.Title {
    fill: white; }
  eicas-common-display text.Value {
    fill: green; }
  eicas-common-display text.Unit {
    fill: #009696; }

