svg {
    width: 100%;
    height: 100%;
}

text {
    fill: cyan;
    font-size: 17px; }

rect {
    fill: black; }

#aircraft-shape {
    stroke: #ffffff;
    stroke-width: 2; }

#lines-l, #lines-r {
    stroke: cyan;
    stroke-width: 2; }

#status-l text, #status-r text {
    fill: lime;
    font-size: 17px; }

#open-rects rect {
    stroke: var(--eicasOrange);
    stroke-width: 2;
    visibility: hidden; }

.hidden-line {
    stroke: transparent;
    stroke-width: 3px;
    stroke-linecap: round;
}