@font-face {
    font-family: "BoeingEFIS";
    src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

text {
    font-family: "BoeingEFIS";
}

.gray-bg {
    fill: rgb(95, 95, 115);
}

.horizon-group {
    transform-origin: 349px 382px;
}

.hidden {
    visibility: hidden;
}

.text {
    fill: white;
    stroke: black;
    text-anchor: end;
    stroke-width: 1.5px;
    paint-order: stroke;
}

.text-1 {
    @extend .text;
    font-size: 17.55px;
    letter-spacing: -0.75px;
}

.text-2 {
    @extend .text;
    font-size: 23.4px;
    letter-spacing: -0.5px;
}

.text-3 {
    @extend .text;
    font-size: 30px;
    letter-spacing: -0.25px;
}

.text-4 {
    @extend .text;
    font-size: 40px;
    letter-spacing: 0px;
}

.magenta {
    fill: #d570ff;
}

.green {
    fill: lime;
}

.amber {
    fill: #ffc400;
}

.cyan {
    fill: cyan;
}

.middle {
    text-anchor: middle;
}

.start {
    text-anchor: start;
}

.line {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.fpv-outline {
    @extend .line;
    stroke: black;
    stroke-width: 6px;
}

.fpv-line {
    @extend .line;
    stroke: white;
    stroke-width: 4px;
}

@keyframes blinking {
    0% { opacity: 0; }
    50% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes outer-marker-anim {
    0% { opacity: 0; }
    33% { opacity: 0; }
    34% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes middle-marker-anim {
    0% { opacity: 0 }
    10% { opacity: 0 }
    11% { opacity: 1 }
    27% { opacity: 1 }
    28% { opacity: 0 }
    44% { opacity: 0 }
    45% { opacity: 1 }
    100% { opacity: 1 }
}

.blink {
    animation: blinking 1s infinite;
}

.outer-marker-blink {
    animation: outer-marker-anim 460ms infinite;
}

.middle-marker-blink {
    animation: middle-marker-anim 730ms infinite;
}

.inner-marker-blink {
    animation: blinking 200ms infinite;
}

.radio-mins-blink {
    animation: blinking 300ms 12;
}

.red-band {
    stroke: red;
    stroke-width: 9px;
    stroke-linecap: butt;
    stroke-dasharray: 9,13;
}

.tenk-marker {
    font-size: 38px;
    fill: lime;
    stroke: black;
    text-anchor: end;
    stroke-width: 1.5px;
    paint-order: stroke;
}
