input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: #dddddd;
  border-radius: 5px;
  background-image: linear-gradient(#006ee6, #006ee6);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  margin-top: -18px; /* This is added to compensate for the increased height */
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: #dddddd 0px 0px 0px 1px;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: #dddddd 0px 0px 0px 1px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
