:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    -webkit-user-select: none;
    font-family: "BoeingEFIS";
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "BoeingEFIS";
  src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Mainframe {
  --refWidth: 1024;
  --refHeight: 1024; }

b747-8-pfd-element {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "BoeingEFIS";
  position: relative;
  overflow: hidden;
  z-index: -10; }
  b747-8-pfd-element #Electricity {
    width: 100%;
    height: 100%; }
    b747-8-pfd-element #Electricity[state=off] {
      display: none; }
  b747-8-pfd-element #DUborder {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
  b747-8-pfd-element #Mainframe {
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    display: block;
    position: relative; }
    b747-8-pfd-element #Mainframe #HorizonContainer {
      transform: rotateX(0);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -6;
      border: none;
      overflow: hidden; }
      b747-8-pfd-element #Mainframe #HorizonContainer #Horizon {
        position: absolute;
        left: 16.5%;
        top: 23%;
        width: 58%;
        height: 44%;
        border: none; }
    b747-8-pfd-element #Mainframe #InstrumentsContainer {
      transform: rotateX(0);
      width: 100%;
      height: 100%;
      z-index: 0; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #Airspeed {
        transform: rotateX(0);
        position: absolute;
        top: 7.75%;
        left: -2%;
        width: 28%;
        height: 100%; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #Altimeter {
        transform: rotateX(0);
        position: absolute;
        top: 5.75%;
        left: 68%;
        width: 28%;
        height: 100%; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #VSpeed {
        transform: rotateX(0);
        position: absolute;
        border: none;
        top: 18.75%;
        left: 89%;
        width: 28%;
        height: 100%;
        z-index: 0; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #Compass {
        transform: rotateX(0);
        position: absolute;
        border: none;
        top: 39%;
        left: -34.5%;
        width: 160%;
        height: 100%;
        z-index: 0; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #FMA {
        transform: rotateX(0);
        position: absolute;
        border: none;
        width: 56%;
        height: 6%;
        top: 6%;
        left: 17.5%;
        z-index: 0; }
      b747-8-pfd-element #Mainframe #InstrumentsContainer #ILS {
        transform: rotateX(0);
        position: absolute;
        border: none;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1; }

