:root {
  --eicasWhite: white;
  --eicasBlack: black;
  --eicasGrey: #c8c8c8;
  --eicasBlue: #009696;
  --eicasGreen: green;
  --eicasOrange: #db7200;
  --eicasRed: red;
  --eicasMagenta: magenta; }
  :root div {
    font-family: Roboto-Bold; }
  :root text {
    font-family: Roboto-Bold; }
  :root div.gauges {
    position: absolute;
    left: 6%;
    width: 100%;
    height: 100%; }
  :root line.gaugeMarkerNormal {
    stroke: var(--eicasGreen);
    stroke-width: 3px;
    fill: none; }
  :root line.gaugeMarkerWarning {
    stroke: var(--eicasOrange);
    stroke-width: 3px;
    fill: none; }
  :root line.gaugeMarkerDanger {
    stroke: var(--eicasRed);
    stroke-width: 3px;
    fill: none; }

b747-8-eicas-gauge {
  display: inline-block;
  width: 14%;
  height: 33%;
  overflow: visible; }
  b747-8-eicas-gauge #RootSVG {
    width: 100%;
    height: 100%; }
  b747-8-eicas-gauge rect.gauge {
    fill: var(--eicasGrey); }
  b747-8-eicas-gauge rect.bar {
    stroke: var(--eicasWhite);
    stroke-width: 3px;
    fill: none; }
  b747-8-eicas-gauge rect.value {
    stroke: var(--eicasWhite);
    stroke-width: 3px;
    fill: none; }
  b747-8-eicas-gauge text.value {
    fill: var(--eicasWhite);
    font-size: 26px;
    letter-spacing: -2px;
    text-anchor: end;
    alignment-baseline: central; }
  b747-8-eicas-gauge line {
    stroke-width: 3px; }

b747-8-eicas-gauge-dual {
  display: inline-block;
  width: 27.5%;
  height: 12%;
  overflow: visible; }
  b747-8-eicas-gauge-dual #RootSVG {
    width: 100%;
    height: 100%; }
  b747-8-eicas-gauge-dual text.normal {
    fill: var(--eicasWhite);
    font-size: 30px;
    alignment-baseline: central; }
  b747-8-eicas-gauge-dual line.bar {
    stroke: var(--eicasGrey);
    stroke-width: 3px;
    fill: none; }
  b747-8-eicas-gauge-dual .indicatorNormal {
    stroke: var(--eicasGrey);
    stroke-width: 2px;
    fill: none; }

b747-8-lower-eicas-engine {
  position: relative;
  left: 3.5%;
  width: 95.5%;
  top: 4.25%;
  height: 88%;
  display: block; }
  b747-8-lower-eicas-engine svg {
    width: 100%;
    height: 100%; }
  b747-8-lower-eicas-engine text {
    fill: var(--eicasWhite);
    font-size: 20px;
    text-anchor: middle;
    alignment-baseline: baseline; }
  b747-8-lower-eicas-engine text.Label {
    fill: var(--eicasBlue);
    font-size: 15px; }
  b747-8-lower-eicas-engine #EngineStates text {
    fill: var(--eicasGreen);
    font-size: 16px; }
  b747-8-lower-eicas-engine #N2Gauges {
    top: 7%; }
  b747-8-lower-eicas-engine #FFGauges {
    top: 34%; }
  b747-8-lower-eicas-engine #OilPGauges {
    top: 50%; }
  b747-8-lower-eicas-engine #OilTGauges {
    top: 65%; }
  b747-8-lower-eicas-engine #OilQGauges {
    top: 74%; }
  b747-8-lower-eicas-engine #VIBGauges {
    top: 86%; }

